body {
  font-family: Arial;
  background: white;
  text-align: center;
}

h2 {
  color: white;
}

form {
  background: goldenrod;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

input, select, textarea {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #404040;
}

.card {
  background: lightgrey;
  padding: 15px;
  margin: 15px auto;
  width: 300px;
  border-radius: 10px;
}

body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

h2 {
  margin-top: 20px;
}

a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  background: #404040;
}

.delete-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.delete-btn:hover {
  background: darkred;
}

.approve-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.approve-btn:hover {
  background: darkgreen;
}

.navbar {
  background: goldenrod;
  padding: 10px;
}

.navbar a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

body {
  font-family: Arial;
  background-image: url("images/eventPic.jpg.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0%;
}


.header-bar {
    width: 100%;            
    height: 150px;           
    display: flex;          
    justify-content: center; 
    align-items: center;    

    background-color: goldenrod;
    background-size: cover;
    background-position: center;
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.logo {
    height: 80px;            
    width: auto;   
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6)) 
            drop-shadow(0 0 15px rgba(255, 255, 255, 0.4));                 
}



